/* 
name = Google Rewrite
desc = Safari 谷歌搜索重定向
 url = https://raw.githubusercontent.com/Fromboy/QxLoonShadowrocket/refs/heads/quantumult-x/QuantumultX_Google_rewrite.snippet
system = ios 🍎
date = 2024-03-30
*/

[MITM]
hostname = g.cn, www.g.cn, google.cn, www.google.cn, *.google.cn

[rewrite_local]
^https?://(www\.)?g\.cn url 302 https://www.google.com
^https?://(www\.)?google\.cn url 302 https://www.google.com
^https?://(www\.)?google\.cn/search url 302 https://www.google.com/search
^https?://(www\.)?(g|google)\.cn$ url 307 https://www.google.com
